<div class="form">

	<%= form_for @accommodation do |f| %>
		<p>
			<%= f.label :image %>
			<%= f.url_field :image %>
		</p>

		<p>
			<%= f.label :bedroom %>
			<%= f.select :bedroom, options_for_select([['Select', 1],['ONE', 2],['TWO', 3],['THREE',4]],1) %>
		</p>

		<p>
			<%= f.label :bathroom %>
			<%= f.select :bathroom, options_for_select([['Select', 1],['ONE', 2],['TWO', 3],['THREE',4]],1) %>
		</p>

		<p>
			<%= f.label :carpark %>
			<%= f.select :carpark, options_for_select([['Select', 1],['ONE', 2],['TWO', 3],['THREE',4]],1) %>
		</p>

		<p>
			<%= f.label :address %>
			<%= f.text_field :address %>
		</p>

		<p>
			<%= f.label :suburb %>
			<%= f.text_field :suburb %>
		</p>

		<p>
			<%= f.label :price %>
			<%= f.text_field :price %>
		</p>

		<p>
			<%= f.label :detail %>
			<%= f.text_field :detail %>
		</p>

		<p>	<%= f.submit %></p>

	<% end %>

</div>