<div class="form">
	<div >
		<p> <%= @accommodation.address %></p>
	</div>
	<div class="image">
		
		<p><%= image_tag @accommodation.image, :class => 'avatar'%></p>
	</div>
	<div class="details">

		<ul>
			<li>Suburb: <%= @accommodation.suburb %></li>
			<li>Bedroom: <%= @accommodation.bedroom %></li>
			<li>Bathroom: <%= @accommodation.bathroom %></li>
			<li>Carpark: <%= @accommodation.carpark %></li>
			<li>Price: <%= @accommodation.price, value= number_to_currency(@accommodation.price) %></li>
			<li>Description: <%= @accommodation.detail %></li>
		</ul>
		<br>
		<% if @current_user && @current_user.id = @accommodation.owner_id %>
			<ul>
				<li><%= link_to 'Edit', edit_accommodation_path %></li>
				<li><%= link_to 'Delete', @accommodation, :method => :delete, :data => { :confirm => 'Are you sure?' } %></li>
			</ul>
		
			
		
		<% end %>	
	</div>

</div>