<div class="form">
<% if @current_user && @current_user.id = @accommodation.owner_id %>

	<div class="image">
		
		<p><%= image_tag @accommodation.image, :class => 'avatar'%></p>
	</div>
	<div class="details">
		<ul>
			<li>Suburb: <%= @accommodation.suburb %></li>
			<li>Bedroom: <%= @accommodation.bedroom %></li>
			<li>Bathroom: <%= @accommodation.bathroom %></li>
			<li>Carpark: <%= @accommodation.carpark %></li>
			<li>Price: <%= @accommodation.price, value= number_to_currency(@accommodation.price) %></li>
			<li>Description: <%= @accommodation.detail %></li>
		</ul>
		<br>
		<%= link_to 'Edit', edit_accommodation_path %>
		<%= link_to 'Delete', @accommodation, :method => :delete, :data => { :confirm => 'Are you sure?' } %>		
	</div>
<% end %>
</div>