<!DOCTYPE html>
<html>
<head>
  <title>Rentals</title>
  <link rel="stylesheet" type="css" href="http://fonts.googleapis.com/css?family=Raleway">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

	<nav >
		<div class="main">
			<ul>
      			<li><%= link_to('Home', root_path) %></li>
      			<li><%= link_to('All Accommodation', accommodations_path) if @current_user %></li> 
	  			<li><%= link_to('Add Accommodation', new_accommodation_path)  if @current_user %></li> 
			</ul>
			<ul class="user_login">
      			<li><%== intellinav %></li>
    		</ul>
		</div>
	</nav>

	<div class="content">
		<%= yield %>
	</div>

</body>
</html>
