<!DOCTYPE html>
<html>
<head>
  <title>Rentals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- <ul>
		<li><%= link_to('Owner', owners_path) %></li>
		<li><%= link_to('New Owner', new_owner_path) %></li>
	</ul> -->

  	<ul>
      <li><%= link_to('Home', root_path) %></li>
      <%== intellinav %>
    </ul>
	
	<!-- <ul>
		<li><%= link_to('Accommodation', accommodations_path) if @current_user %></li> 
		<li><%= link_to('New Accommodation', new_accommodation_path)  if @current_user %></li>  
		
	
	</ul> -->
<%= yield %>

</body>
</html>
